<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KidCamp</title>

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <!-- Custom styles and scripts -->
    <%= stylesheet_link_tag "styles-chrome" %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="tab-content bg">
    <div role="tabpanel" class="tab-pane counselor active"></div>
    <div role="tabpanel" class="tab-pane stories"></div>
    <div role="tabpanel" class="tab-pane aid"></div>
    <div role="tabpanel" class="tab-pane wildfire"></div>
</div>

<div id="veil">
    <div class="container" id="panel">
        <div class="row">
            <!-- Column for nav -->
            <div class="col-md-4" id="panel-left">
                <h1>
                    Welcome!
                </h1>
                <p>
                    Please choose your child's activity below and complete the form.
                </p>            
                <ul class="nav nav-pills nav-stacked" role="tablist" id="nav-activities">
                    <li role="presentation" class="active">
                        <a href=".counselor" aria-controls="counselor" role="tab" data-toggle="tab">
                            <i class="fa fa-info-circle icon"></i>Camp Counselor
                        </a>
                    </li>
                    <li role="presentation">
                        <a href=".stories" aria-controls="stories" role="tab" data-toggle="tab">
                            <i class="fa fa-fire"></i>Campfire Stories
                        </a>
                    </li>
                    <li role="presentation">
                        <a href=".aid" aria-controls="aid" role="tab" data-toggle="tab"><i class="fa fa-medkit"></i>First Aid wee training</a>
                    </li>
                    <li role="presentation">
                        <a href=".wildfire" aria-controls="wildfire" role="tab" data-toggle="tab"><i class="fa fa-binoculars"></i>Wildfire Spotting</a>
                    </li>
                </ul>
            </div>

            <!-- Column for form -->
            <div class="col-md-8" id="panel-right">
                <div class="tab-content text">
                    <div role="tabpanel" class="tab-pane counselor active">
                        <h2>
                            Camp Counselor
                        </h2>
                        <p>
                            Cat ipsum dolor sit amet, chase ball of string so meowwww. Chase red laser dot give attitude, yet sweet beast, and stand in front of the computer screen, but stare at the wall, play with food and get confused by dust behind the couch hate dog. Mark territory. Refuse to leave cardboard box spread kitty litter all over house yet meow.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane stories">
                        <h2>
                            Campfire Stories
                        </h2>
                        <p>
                            Cat ipsum dolor sit amet, chase ball of string so meowwww. Chase red laser dot give attitude, yet sweet beast, and stand in front of the computer screen, but stare at the wall, play with food and get confused by dust behind the couch hate dog. Mark territory. Refuse to leave cardboard box spread kitty litter all over house yet meow.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane aid">
                        <h2>
                            First Aid wee training
                        </h2>
                        <p>
                            Cat ipsum dolor sit amet, chase ball of string so meowwww. Chase red laser dot give attitude, yet sweet beast, and stand in front of the computer screen, but stare at the wall, play with food and get confused by dust behind the couch hate dog. Mark territory. Refuse to leave cardboard box spread kitty litter all over house yet meow.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane wildfire">
                        <h2>
                            Wildfire Spotting
                        </h2>
                        <p>
                            Cat ipsum dolor sit amet, chase ball of string so meowwww. Chase red laser dot give attitude, yet sweet beast, and stand in front of the computer screen, but stare at the wall, play with food and get confused by dust behind the couch hate dog. Mark territory. Refuse to leave cardboard box spread kitty litter all over house yet meow.
                        </p>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="name-parent" class="sr-only">Parent's Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name-parent" placeholder="Parent's Name">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="sr-only">Address</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="address" placeholder="Address">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="name-child" class="sr-only">Child's Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name-child" placeholder="Child's Name">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="age" class="sr-only">Age</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" name="age" min="0" max="17" placeholder="Age">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="allergies" class="sr-only">Allergies</label>
                        <div class="input-group">
                            <textarea class="form-control" name="allergies" placeholder="Allergies"></textarea>
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Using an older browser? <a href="/"> CLICK HERE to try the other version of this webpage</a>.
                </p>
            </div>
        </div>        
    </div>
</div>

</body>

<script>
$('document').ready(function(){
    $('nav-activities').click(function(event){
        event.preventDefault();
        $(this).tab('show');
    });

    var resizeBody = function(){
        widthWindow = $(window).outerWidth();
        widthPanel = $('#panel').outerWidth();
        heightWindow = $(window).outerHeight();
        heightPanel = $('#panel').outerHeight();

        widthNew = (widthWindow > widthPanel)? widthWindow : widthPanel;
        heightNew = (heightWindow > heightPanel)? heightWindow : heightPanel;

        $('body, #veil').css({width: widthNew, height: heightNew});
    }

    $(window).resize(resizeBody);

    resizeBody();
})

</script>

</html>