<!DOCTYPE html>
<html>

<head>
    <title>KidCamp</title>

    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="assets/styles.scss">
</head>

<body>

<div class="container" id="panel">
    <div class="row">
        <div class="col-md-12">
            Welcome! Please choose your child's activity below
        </div>
    </div>

    <div class="row">
        <!-- Column for nav -->
        <div class="col-md-6">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#"><i class="fa fa-info-circle"></i> Camp Counselor</a>
                </li>
                <li role="presentation">
                    <a href="#"><span class="glyphicon glyphicon-fire"></span> Campfile Stories</a>
                </li>
                <li role="presentation">
                    <a href="#"><i class="fa fa-medkit"></i> First Aid wee training</a>
                </li>
                <li role="presentation"><a href="#"><i class="fa fa-binoculars"></i> Wildfire Spotting</a></li>
            </ul>
        </div>
        <!-- Column for form -->
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="name-parent" class="sr-only">Parent's Name</label>
                    <input type="text" class="form-control" name="name-parent" placeholder="Parent's Name">
                </div>
                <div class="form-group">
                    <label for="address" class="sr-only">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Address">
                </div>

                <div class="form-group">
                    <label for="name-child" class="sr-only">Child's Name</label>
                    <input type="text" class="form-control" name="name-child" placeholder="Child's Name">
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="age" class="sr-only">Age</label>
                            <input type="number" class="form-control" name="age" min="0" max="17" placeholder="Age">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <label for="allergies" class="sr-only">Allergies</label>
                        <input type="text" class="form-control" name="allergies" placeholder="Allergies">
                    </div>
                </div>



                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>



<!--            <div class="row">
                    <div class="col-md-12">
                        <input type="radio">Camp Counselor
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Campfile Stories
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        First Aid wee training
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Wildfire Spotting
                    </div>
                </div> -->
