<!DOCTYPE html>
<html>

<head>
    <title>KidCamp</title>

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="assets/styles.scss">
</head>

<body>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="counselor"></div>
    <div role="tabpanel" class="tab-pane" id="stories"></div>
    <div role="tabpanel" class="tab-pane" id="aid"></div>
    <div role="tabpanel" class="tab-pane" id="wildfire"></div>
</div>

<div id="veil">
    <div class="container" id="panel">
        <div class="row">
            <h1 class="col-md-12">
                Welcome! Please choose your child's activity below
            </h1>
        </div>

        <div class="row">
            <!-- Column for nav -->
            <div class="col-md-6" id="panel-left">
                <ul class="nav nav-pills nav-stacked" role="tablist" id="nav-activities">
                    <li role="presentation" class="active">
                        <a href="#counselor" aria-controls="counselor" role="tab" data-toggle="tab">
                            <i class="fa fa-info-circle icon"></i> Camp Counselor
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#stories" aria-controls="stories" role="tab" data-toggle="tab">
                            <i class="fa fa-fire"></i> Campfire Stories
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#aid" aria-controls="aid" role="tab" data-toggle="tab"><i class="fa fa-medkit"></i> First Aid wee training</a>
                    </li>
                    <li role="presentation">
                        <a href="#wildfire" aria-controls="wildfire" role="tab" data-toggle="tab"><i class="fa fa-binoculars"></i> Wildfire Spotting</a>
                    </li>
                </ul>
            </div>

            <!-- Column for form -->
            <div class="col-md-6" id="panel-right">
                <form>
                    <div class="form-group">
                        <label for="name-parent" class="sr-only">Parent's Name</label>
                        <input type="text" class="form-control" name="name-parent" placeholder="Parent's Name">
                    </div>
                    <div class="form-group">
                        <label for="address" class="sr-only">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Address">
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="name-child" class="sr-only">Child's Name</label>
                                <input type="text" class="form-control" name="name-child" placeholder="Child's Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="age" class="sr-only">Age</label>
                                <input type="number" class="form-control" name="age" min="0" max="17" placeholder="Age">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="allergies" class="sr-only">Allergies</label>
                        <input type="text" class="form-control" name="allergies" placeholder="Allergies">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script>
$('document').ready(function(){
    $('nav-activities').click(function(event){
        event.preventDefault();
        $(this).tab('show');
    });

    var resizeBody = function(){
        widthWindow = $(window).width();
        widthPanel = $('#panel').width();
        heightWindow = $(window).height();
        heightPanel = $('#panel').height();

        widthNew = (widthWindow > widthPanel)? widthWindow : widthPanel;
        heightNew = (heightWindow > heightPanel)? heightWindow : heightPanel;

        $('body, #veil').css({width: widthNew, height: heightNew});
    }

    $(window).resize(resizeBody);

    resizeBody();
})

</script>

</html>