<!DOCTYPE html>
<html>

<head>
    <title>KidCamp</title>

    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="assets/styles.scss">
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            Welcome! Please choose your child's activity below
        </div>
    </div>

    <div class="row">
        <!-- Column for nav -->
        <div class="col-md-6">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#"><i class="fa fa-info-circle"></i> Camp Counselor</a>
                </li>
                <li role="presentation">
                    <a href="#"><span class="glyphicon glyphicon-fire"></span> Campfile Stories</a>
                </li>
                <li role="presentation">
                    <a href="#"><i class="fa fa-medkit"></i> First Aid wee training</a>
                </li>
                <li role="presentation"><a href="#"><i class="fa fa-binoculars"></i> Wildfire Spotting</a></li>
            </ul>
        </div>
        <!-- Column for form -->
        <div class="col-md-6">
            
        </div>
    </div>
</div>

</body>
</html>



<!--            <div class="row">
                    <div class="col-md-12">
                        <input type="radio">Camp Counselor
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Campfile Stories
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        First Aid wee training
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Wildfire Spotting
                    </div>
                </div> -->
