/* Variables */
/*-----------*/

$white-trans: rgba(255, 255, 255, 0.4);
$space-sm: 10px;
$space-lg: 20px;

/* Elements without classes and IDs */
/*----------------------------------*/

*, h1, a,
input.form-control {
    color: white;
    font-weight: 100;
}

h1 {
    margin: 0 0 $space-lg;
}

/* Classes */
/*---------*/

.nav > li > a {
    font-size: 2em;
    border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li > a:active,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    background-color: $white-trans !important;
    color: black !important;
}

.nav-pills > li.active > a i.fa,
.nav-pills > li > a:hover i.fa {
    color: black;
}

.nav-pills i.fa {
    margin-right: $space-sm;
}

.form-group {
    margin-bottom: 0 0 $space-sm;
}

input.form-control, button.btn-default {
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 1px;
}

input.form-control {
    color: white;
    height: auto;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px dashed white;
    border-radius: 0;
}

button.btn-default {
    font-weight: 100;
    border-radius: 0;
    width: 100%;
}

input.form-control::-webkit-input-placeholder {
    color: white;
}
input.form-control::-moz-placeholder {
    color: white;
}
input.form-control:-moz-placeholder {   /* Older versions of Firefox */
    color: white;
}
input.form-control:-ms-input-placeholder { 
    color: white;
}

.tab-content {
    height: 100%;
    width: 100%;
}

.tab-pane {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* IDs */
/*-----*/

#veil {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
}


#panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

#counselor {
    background-image: url('counselor.jpg');
}

#stories {
    background-image: url('stories.jpg');
}

#aid {
    background-image: url('aid.jpg');
}

#wildfire {
    background-image: url('wildfire.jpg');
}

/* Media Queries */
/*---------------*/

@media (max-width: 991px) {
    #panel-left {
        margin-bottom: $space-lg;
    }
}