/* Code Design */
/*-------------*/

/*
Sequence of sections -- common HTML tags (eg: h1, a, etc.), top-level HTML tags, left-side tags, then right-side tags.

Sequence of property-value pairs -- inner-box model (color, font-weight, etc), then outer-box model (border, margin, etc.);
*/


/* Variables */
/*-----------*/

$white-trans: rgba(255, 255, 255, 0.6);
$space-sm: 10px;
$space-lg: 20px;

/* Elements without classes and IDs */
/*----------------------------------*/

*, h1, a,
textarea.form-control,
input.form-control {
    color: white;
    font-weight: 100;
}

h1 {
    margin: 0 0 $space-lg;
    font-size: 4em;
}

/* Activities */
/*------------*/

.nav > li > a {
    font-size: 2em;
    border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li > a:active,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    background-color: $white-trans !important;
    color: black !important;
}

.nav-pills > li.active > a i.fa,
.nav-pills > li > a:hover i.fa {
    color: black;
}

.nav-pills i.fa {
    margin-right: $space-lg;
}

/* Form */
/*------*/

.form-group {
    margin-bottom: 0 0 $space-sm;
}

textarea.form-control,
input.form-control,
button.btn-default {
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 1px;
}

textarea.form-control,
input.form-control {
    color: white;
    height: auto;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px dashed white;
    border-radius: 0;
}

button.btn-default {
    font-weight: 100;
    border-radius: 0;
    width: 100%;
}

/* Input Groups */
/*--------------*/

.input-group-addon {
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px dashed white;
    border-radius: 0;
    padding: 0.5em 0;
}

.input-group-addon .fa {
    font-size: 2.5em;
    color: $white-trans;
    transform: rotate(45deg);
}

/* Form Placeholder */
/*------------------*/

input.form-control::-webkit-input-placeholder {
    color: $white-trans;
}
input.form-control::-moz-placeholder {
    color: $white-trans;
}
input.form-control:-moz-placeholder {
    color: $white-trans;
}
input.form-control:-ms-input-placeholder { 
    color: $white-trans;
}

textarea.form-control::-webkit-input-placeholder {
    color: $white-trans;
}
textarea.form-control::-moz-placeholder {
    color: $white-trans;
}
textarea.form-control:-moz-placeholder {
    color: $white-trans;
}
textarea.form-control:-ms-input-placeholder { 
    color: $white-trans;
}

/* Panel Containers */
/*------------------*/

.tab-content {
    height: 100%;
    width: 100%;
}

.tab-pane {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;    
}

#counselor {
    background-image: url(image-path('counselor.jpg'));
}

#stories {
    background-image: url(image-path('stories.jpg'));
}

#aid {
    background-image: url(image-path('aid.jpg'));
}

#wildfire {
    background-image: url(image-path('wildfire.jpg'));
}

#veil {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
}

#panel {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
}

/* Media Queries */
/*---------------*/

@media (min-width: 992px) {

    #panel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}

@media (max-width: 991px) {
    h1 {
        font-size: 2em;
    }

    #panel {
        width: 100%;
    }

    #panel-left {
        margin-bottom: $space-lg;
    }
}